<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <script src="/js/home/register.js" defer></script>-->
    <!-- <script src="/routes/home/home.ctrl.js" defer></script> -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <!-- <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">
                Already registered? <a href="#">Sign In</a>
            </p>
        </form> -->
        <form class="login-form">
            <div class="id-check-container">
                <input
                        id="id"
                        class="register-id"
                        type="text"
                        placeholder="아이디"
                        maxlength="30"
                        oninput="onlyEnglishAndNumbers(event)"
                />
                <p id="duplicate-check">중복체크</p>
            </div>
            <input id="name" type="text" placeholder="이름" />
            <input id="psword" type="password" placeholder="비밀번호" />
            <input
                    id="confirm-psword"
                    type="password"
                    placeholder="비밀번호 확인"
            />
            <p id="button">SIGN UP</p>
            <p class="message">
                Already registered?
                <a href="/">login</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>

<!-- Copyright (c) 2024 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
