<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <script src="/js/home/register.js" defer></script>-->
    <!-- <script src="/routes/home/home.ctrl.js" defer></script> -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <!-- <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">
                Already registered? <a href="#">Sign In</a>
            </p>
        </form> -->
        <form class="login-form">
            <div class="id-check-container">
                <input
                        id="id"
                        class="register-id"
                        type="text"
                        placeholder="아이디"
                        maxlength="30"
                        oninput="onlyEnglishAndNumbers(event)"
                />
                <p id="duplicate-check">중복체크</p>
            </div>
            <input id="name" type="text" placeholder="이름" />
            <input id="psword" type="password" placeholder="비밀번호" />
            <input
                    id="confirm-psword"
                    type="password"
                    placeholder="비밀번호 확인"
            />
            <p id="button">SIGN UP</p>
            <p class="message">
                Already registered?
                <a href="/">login</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>
<Script>
    {
        // 댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#button");
        // 댓글 클릭 이벤트 감지!
        commentCreateBtn.addEventListener("click", function() {
            // 새 댓글 객체 생성
            const register = {
                userid: document.querySelector("#id").value,
                name: document.querySelector("#name").value,
                psword: document.querySelector("#psword").value
            };
            // 댓글 객체 출력
            console.log(register);
            // fetch() - 비동기 통신을 위한 API
            const url = "/api/register";
            fetch(url, {
                method: "post",
                body: JSON.stringify(register),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                // http 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "회원가입 되었습니다." : "회원가입 실패하였습니다.!";
                alert(msg);
                // 현재 페이지 새로고침
                window.location.reload();
            });
        });
    }
</script>
<!-- Copyright (c) 2024 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
